---
import '@fontsource/montserrat';
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/400-italic.css';
import '@fontsource/montserrat/500.css';
import '@fontsource/montserrat/600.css';

import { site } from '../data/siteMetaData';

const { title, metaTags } = site;
---

<!-- Title -->
<title>{title}</title>

<!-- Open Graph tags -->
<meta property="og:title" content={metaTags.og.title} />
<meta property="og:type" content={metaTags.og.type} />
<meta property="og:url" content={metaTags.og.url} />
<meta property="og:description" content={metaTags.og.description} />
<meta property="og:image" content={metaTags.og.image}>
<meta property="og:image:alt" content={metaTags.og.imageAlt}>